body {
	font-family: arial,sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

div {
	display: inline-block;
}

input {
	margin: 0px 0px 0px 140px; /*top right bottom left*/
	height: 3em;
	width: 100em;
	vertical-align: center;
	clear: both;
}

#topsearch {
	height: 59px;
	width:100%;
	background-color: #f1f1f1;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
}

#options {
	background-color: red;
	height: 70px;
	width: 100%;
}

#main {
	background-color: green;
	height: 60em;
	width: 100%;
	position: relative;
}

#footer {
	height: 6em;
	width: 100%;
	background-color: #f1f1f1;
	border-top: 1px solid #666;
	border-color: #e5e5e5;
}

#logo {
	display:block;
	height: 37px;
    width: 95px;
    padding: 1em;
}

.sidebar {
	background-color: black;
	height: 70px;
	width: 50%;
}

.main {
	background-color: orange;
	height: 70px;
	width: 50%;
}