/* {
	border:1px dashed blue;
} */

html {
	font-family: arial,sans-serif;
} 

body {
	margin: 0px 0px 0px 0px; /*removes border around page*/
}

#topbar {
	background-color: #f1f1f1;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	display: inline-block;
	height: 60px;
	width: 100%;
}

#search_box {
    padding-left: 8px;
    margin-top: 10px;
    margin-left: 16px;
    width: 560px;
    height: 38px;
    font-color: #222;
    font-size: 16px;
    font-family: arial, sans-serif;
}

#logo {
	height: 30px;
	width: 90px;
	padding:0px 0px 0px 0px;
	margin-top: 15px;
	margin-left: 15px;
}

#toprighticons {
	float: right;
	list-style-type: none; /*removes the bullets*/
	padding: 0;
	margin-top: 15px;
}

/* #search-btn {
	background-color: black;
	height: 30px;
	width: 30px;
	padding: 0;
	margin: 0;
} doesn't work yet*/

li {
	display: inline-block; /* makes list horizontal */
	padding: 0;
}

.search {
	color:gray;
}

a:visited {
	color:#609;
}

a:hover {
	text-decoration: underline;
}

.mainarea h2 {
	margin-left: 16px;
	color: #1a0dab;
	font-size: 18px;
	font-weight: normal;

}

.mainarea h3 {
	margin-left: 16px;
	color:#006621;
	font-size: 14px;
	font-style: normal;
}

.mainarea h4 {
	margin-left: 16px;
	color:#777;
	font-size: 14px;

}

.mainarea p {
	margin-left: 16px;
	color:#545454;
	font-weight: normal;
}

#options {

}