html {
	font-family: arial,sans-serif;
}

body {
	margin: 0px 0px 0px 0px; /*removes border around page*/
}

#topbar {
	background-color: #f1f1f1;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	clear:both; /*not sure what it's doing*/
	display: inline-block;
	height: 60px;
	width: 100%;
}

#search_box {
	float: left;
    padding-left: 10px;
    width: 560px;
    height: 38px;
    margin-top: 15px;
    margin-left: 20px;
    font-color: #222;
    font-size: 16px;
    font-family: arial, sans-serif;
}

#logo {
	height: 30px;
	width: 90px;
	padding:1em;
}

#toprighticons {
	float: right;
	list-style-type: none; /*removes the bullets*/
	padding: 15px 30px 0px 0px;
	margin: 0;
}

li {
	display: inline-block; /* makes list horizontal */
	padding: 10px;
}

.search {
	color: #DDD;
}